@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

html {
  height: 100%;
}

body {
  background: #191414;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background: linear-gradient(180deg, rgba(25,20,20,1) 8%, rgba(47,42,42,1) 62%, rgba(74,68,68,1) 100%); */
  color: #FFFFFF;
  font-family: 'Montserrat';
}

.container h2 {
  color: #1DB954;
}

.container h5 {
  color: #FFFFFF;
}

#play {
  height: auto;
  width: auto;
  max-width: 16px;
  max-height: 16px;
  margin-bottom: 4px;
  margin-left: 8px;
}

#play:hover {
  cursor: pointer;
}

#photo {
  height: auto;
  width: auto;
  max-width: 258px;
  max-height: 258px;
}

#photo2 {
  height: auto;
  width: auto;
  max-width: 64px;
  max-height: 64px;
}

.badge-success {
  background-color: #1DB954 !important;
}

#genres p {
  margin-right: 4px;
}

#genres:nth-child(3n) {
  break-after: always; /* New syntax */
}

.media-body {
  word-wrap: break-word;
}


#topTracks li img {
  margin-right: 8px;
}
